<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/neu_his?characterEncoding=utf-8?serverTimezone=GMT%2B8</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">qpalzm</property>
        <property name="connection.useUnicode">true</property>
        <property name="connection.characterEncoding">UTF-8</property>
        <mapping class="com.neu.his.dao.entity.AllUserEntity"/>
        <mapping class="com.neu.his.dao.entity.CaseEntity"/>
        <mapping class="com.neu.his.dao.entity.CategoryConstantEntity"/>
        <mapping class="com.neu.his.dao.entity.CategoryDiseaseEntity"/>
        <mapping class="com.neu.his.dao.entity.CategoryPaymentEntity"/>
        <mapping class="com.neu.his.dao.entity.CategoryRegEntity"/>
        <mapping class="com.neu.his.dao.entity.CategorySettlementEntity"/>
        <mapping class="com.neu.his.dao.entity.ConstantEntity"/>
        <mapping class="com.neu.his.dao.entity.DeptEntity"/>
        <mapping class="com.neu.his.dao.entity.DiagnosisEntity"/>
        <mapping class="com.neu.his.dao.entity.DiseaseEntity"/>
        <mapping class="com.neu.his.dao.entity.DrugEntity"/>
        <mapping class="com.neu.his.dao.entity.InvoiceEntity"/>
        <mapping class="com.neu.his.dao.entity.NonDrugEntity"/>
        <mapping class="com.neu.his.dao.entity.NonDrugApplicationEntity"/>
        <mapping class="com.neu.his.dao.entity.OperatorSettlementEntity"/>
        <mapping class="com.neu.his.dao.entity.PaymentDtlEntity"/>
        <mapping class="com.neu.his.dao.entity.PrescriptionHerbEntity"/>
        <mapping class="com.neu.his.dao.entity.PrescriptionHerbDtlEntity"/>
        <mapping class="com.neu.his.dao.entity.PrescriptionMedicineEntity"/>
        <mapping class="com.neu.his.dao.entity.PrescriptionMedicineDtlEntity"/>
        <mapping class="com.neu.his.dao.entity.RegistrationEntity"/>
        <mapping class="com.neu.his.dao.entity.ScheduleEntity"/>
        <mapping class="com.neu.his.dao.entity.ScheduleRuleEntity"/>
        <mapping class="com.neu.his.dao.entity.TemplateDtlHerbEntity"/>
        <mapping class="com.neu.his.dao.entity.TemplateDtlMediEntity"/>
        <mapping class="com.neu.his.dao.entity.TemplateDtlNonDrugEntity"/>
        <mapping class="com.neu.his.dao.entity.TemplateHerbEntity"/>
        <mapping class="com.neu.his.dao.entity.TemplateMediEntity"/>
        <mapping class="com.neu.his.dao.entity.TemplateNonDrugEntity"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>