<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.neu.dao.DrugMapper">
  <resultMap id="BaseResultMap" type="org.neu.entity.Drug">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="drug_name" jdbcType="VARCHAR" property="drug_name" />
    <result column="standard" jdbcType="VARCHAR" property="standard" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="factory" jdbcType="VARCHAR" property="factory" />
    <result column="dosage" jdbcType="INTEGER" property="dosage" />
    <result column="type_id" jdbcType="INTEGER" property="type_id" />
    <result column="unit_price" jdbcType="DOUBLE" property="unit_price" />
    <result column="pinyin_mnemonic_code" jdbcType="VARCHAR" property="pinyin_mnemonic_code" />
    <result column="create_time" jdbcType="DATE" property="create_time" />
    <result column="last_edit_time" jdbcType="DATE" property="last_edit_time" />
    <result column="is_deleted" jdbcType="BIT" property="is_deleted" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, code, drug_name, standard, unit, factory, dosage, type_id, unit_price, pinyin_mnemonic_code, 
    create_time, last_edit_time, is_deleted
  </sql>
  <select id="selectByExample" parameterType="org.neu.entity.DrugExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from drug
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from drug
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKeyWithLogicalDelete" parameterType="map" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    select 
    <include refid="Base_Column_List" />
    from drug
    where id = #{id,jdbcType=INTEGER}
      and is_deleted = 
    <choose>
      <when test="andLogicalDeleted">
        '1'
      </when>
      <otherwise>
        '0'
      </otherwise>
    </choose>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from drug
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.neu.entity.DrugExample">
    delete from drug
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.neu.entity.Drug">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into drug (code, drug_name, standard, 
      unit, factory, dosage, 
      type_id, unit_price, pinyin_mnemonic_code, 
      create_time, last_edit_time, is_deleted
      )
    values (#{code,jdbcType=VARCHAR}, #{drug_name,jdbcType=VARCHAR}, #{standard,jdbcType=VARCHAR}, 
      #{unit,jdbcType=VARCHAR}, #{factory,jdbcType=VARCHAR}, #{dosage,jdbcType=INTEGER}, 
      #{type_id,jdbcType=INTEGER}, #{unit_price,jdbcType=DOUBLE}, #{pinyin_mnemonic_code,jdbcType=VARCHAR}, 
      #{create_time,jdbcType=DATE}, #{last_edit_time,jdbcType=DATE}, #{is_deleted,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.neu.entity.Drug">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into drug
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        code,
      </if>
      <if test="drug_name != null">
        drug_name,
      </if>
      <if test="standard != null">
        standard,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="factory != null">
        factory,
      </if>
      <if test="dosage != null">
        dosage,
      </if>
      <if test="type_id != null">
        type_id,
      </if>
      <if test="unit_price != null">
        unit_price,
      </if>
      <if test="pinyin_mnemonic_code != null">
        pinyin_mnemonic_code,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="last_edit_time != null">
        last_edit_time,
      </if>
      <if test="is_deleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="drug_name != null">
        #{drug_name,jdbcType=VARCHAR},
      </if>
      <if test="standard != null">
        #{standard,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="factory != null">
        #{factory,jdbcType=VARCHAR},
      </if>
      <if test="dosage != null">
        #{dosage,jdbcType=INTEGER},
      </if>
      <if test="type_id != null">
        #{type_id,jdbcType=INTEGER},
      </if>
      <if test="unit_price != null">
        #{unit_price,jdbcType=DOUBLE},
      </if>
      <if test="pinyin_mnemonic_code != null">
        #{pinyin_mnemonic_code,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=DATE},
      </if>
      <if test="last_edit_time != null">
        #{last_edit_time,jdbcType=DATE},
      </if>
      <if test="is_deleted != null">
        #{is_deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.neu.entity.DrugExample" resultType="java.lang.Long">
    select count(*) from drug
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update drug
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.drug_name != null">
        drug_name = #{record.drug_name,jdbcType=VARCHAR},
      </if>
      <if test="record.standard != null">
        standard = #{record.standard,jdbcType=VARCHAR},
      </if>
      <if test="record.unit != null">
        unit = #{record.unit,jdbcType=VARCHAR},
      </if>
      <if test="record.factory != null">
        factory = #{record.factory,jdbcType=VARCHAR},
      </if>
      <if test="record.dosage != null">
        dosage = #{record.dosage,jdbcType=INTEGER},
      </if>
      <if test="record.type_id != null">
        type_id = #{record.type_id,jdbcType=INTEGER},
      </if>
      <if test="record.unit_price != null">
        unit_price = #{record.unit_price,jdbcType=DOUBLE},
      </if>
      <if test="record.pinyin_mnemonic_code != null">
        pinyin_mnemonic_code = #{record.pinyin_mnemonic_code,jdbcType=VARCHAR},
      </if>
      <if test="record.create_time != null">
        create_time = #{record.create_time,jdbcType=DATE},
      </if>
      <if test="record.last_edit_time != null">
        last_edit_time = #{record.last_edit_time,jdbcType=DATE},
      </if>
      <if test="record.is_deleted != null">
        is_deleted = #{record.is_deleted,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update drug
    set id = #{record.id,jdbcType=INTEGER},
      code = #{record.code,jdbcType=VARCHAR},
      drug_name = #{record.drug_name,jdbcType=VARCHAR},
      standard = #{record.standard,jdbcType=VARCHAR},
      unit = #{record.unit,jdbcType=VARCHAR},
      factory = #{record.factory,jdbcType=VARCHAR},
      dosage = #{record.dosage,jdbcType=INTEGER},
      type_id = #{record.type_id,jdbcType=INTEGER},
      unit_price = #{record.unit_price,jdbcType=DOUBLE},
      pinyin_mnemonic_code = #{record.pinyin_mnemonic_code,jdbcType=VARCHAR},
      create_time = #{record.create_time,jdbcType=DATE},
      last_edit_time = #{record.last_edit_time,jdbcType=DATE},
      is_deleted = #{record.is_deleted,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.neu.entity.Drug">
    update drug
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="drug_name != null">
        drug_name = #{drug_name,jdbcType=VARCHAR},
      </if>
      <if test="standard != null">
        standard = #{standard,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="factory != null">
        factory = #{factory,jdbcType=VARCHAR},
      </if>
      <if test="dosage != null">
        dosage = #{dosage,jdbcType=INTEGER},
      </if>
      <if test="type_id != null">
        type_id = #{type_id,jdbcType=INTEGER},
      </if>
      <if test="unit_price != null">
        unit_price = #{unit_price,jdbcType=DOUBLE},
      </if>
      <if test="pinyin_mnemonic_code != null">
        pinyin_mnemonic_code = #{pinyin_mnemonic_code,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=DATE},
      </if>
      <if test="last_edit_time != null">
        last_edit_time = #{last_edit_time,jdbcType=DATE},
      </if>
      <if test="is_deleted != null">
        is_deleted = #{is_deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.neu.entity.Drug">
    update drug
    set code = #{code,jdbcType=VARCHAR},
      drug_name = #{drug_name,jdbcType=VARCHAR},
      standard = #{standard,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      factory = #{factory,jdbcType=VARCHAR},
      dosage = #{dosage,jdbcType=INTEGER},
      type_id = #{type_id,jdbcType=INTEGER},
      unit_price = #{unit_price,jdbcType=DOUBLE},
      pinyin_mnemonic_code = #{pinyin_mnemonic_code,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=DATE},
      last_edit_time = #{last_edit_time,jdbcType=DATE},
      is_deleted = #{is_deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="logicalDeleteByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    update drug set is_deleted = 1
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="logicalDeleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    update drug set is_deleted = 1
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="entity.Drug">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="drug_name" jdbcType="VARCHAR" property="drug_name" />
    <result column="standard" jdbcType="VARCHAR" property="standard" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="factory" jdbcType="VARCHAR" property="factory" />
    <result column="dosage" jdbcType="INTEGER" property="dosage" />
    <result column="type_id" jdbcType="INTEGER" property="type_id" />
    <result column="unit_price" jdbcType="DOUBLE" property="unit_price" />
    <result column="pinyin_mnemonic_code" jdbcType="VARCHAR" property="pinyin_mnemonic_code" />
    <result column="create_time" jdbcType="DATE" property="create_time" />
    <result column="last_edit_time" jdbcType="DATE" property="last_edit_time" />
    <result column="is_deleted" jdbcType="BIT" property="is_deleted" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, code, drug_name, standard, unit, factory, dosage, type_id, unit_price, pinyin_mnemonic_code, 
    create_time, last_edit_time, is_deleted
  </sql>
  <select id="selectByExample" parameterType="entity.DrugExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from drug
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from drug
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from drug
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="entity.DrugExample">
    delete from drug
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="entity.Drug">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into drug (code, drug_name, standard, 
      unit, factory, dosage, 
      type_id, unit_price, pinyin_mnemonic_code, 
      create_time, last_edit_time, is_deleted
      )
    values (#{code,jdbcType=VARCHAR}, #{drug_name,jdbcType=VARCHAR}, #{standard,jdbcType=VARCHAR}, 
      #{unit,jdbcType=VARCHAR}, #{factory,jdbcType=VARCHAR}, #{dosage,jdbcType=INTEGER}, 
      #{type_id,jdbcType=INTEGER}, #{unit_price,jdbcType=DOUBLE}, #{pinyin_mnemonic_code,jdbcType=VARCHAR}, 
      #{create_time,jdbcType=DATE}, #{last_edit_time,jdbcType=DATE}, #{is_deleted,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="entity.Drug">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into drug
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        code,
      </if>
      <if test="drug_name != null">
        drug_name,
      </if>
      <if test="standard != null">
        standard,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="factory != null">
        factory,
      </if>
      <if test="dosage != null">
        dosage,
      </if>
      <if test="type_id != null">
        type_id,
      </if>
      <if test="unit_price != null">
        unit_price,
      </if>
      <if test="pinyin_mnemonic_code != null">
        pinyin_mnemonic_code,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="last_edit_time != null">
        last_edit_time,
      </if>
      <if test="is_deleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="drug_name != null">
        #{drug_name,jdbcType=VARCHAR},
      </if>
      <if test="standard != null">
        #{standard,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="factory != null">
        #{factory,jdbcType=VARCHAR},
      </if>
      <if test="dosage != null">
        #{dosage,jdbcType=INTEGER},
      </if>
      <if test="type_id != null">
        #{type_id,jdbcType=INTEGER},
      </if>
      <if test="unit_price != null">
        #{unit_price,jdbcType=DOUBLE},
      </if>
      <if test="pinyin_mnemonic_code != null">
        #{pinyin_mnemonic_code,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=DATE},
      </if>
      <if test="last_edit_time != null">
        #{last_edit_time,jdbcType=DATE},
      </if>
      <if test="is_deleted != null">
        #{is_deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="entity.DrugExample" resultType="java.lang.Long">
    select count(*) from drug
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update drug
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.drug_name != null">
        drug_name = #{record.drug_name,jdbcType=VARCHAR},
      </if>
      <if test="record.standard != null">
        standard = #{record.standard,jdbcType=VARCHAR},
      </if>
      <if test="record.unit != null">
        unit = #{record.unit,jdbcType=VARCHAR},
      </if>
      <if test="record.factory != null">
        factory = #{record.factory,jdbcType=VARCHAR},
      </if>
      <if test="record.dosage != null">
        dosage = #{record.dosage,jdbcType=INTEGER},
      </if>
      <if test="record.type_id != null">
        type_id = #{record.type_id,jdbcType=INTEGER},
      </if>
      <if test="record.unit_price != null">
        unit_price = #{record.unit_price,jdbcType=DOUBLE},
      </if>
      <if test="record.pinyin_mnemonic_code != null">
        pinyin_mnemonic_code = #{record.pinyin_mnemonic_code,jdbcType=VARCHAR},
      </if>
      <if test="record.create_time != null">
        create_time = #{record.create_time,jdbcType=DATE},
      </if>
      <if test="record.last_edit_time != null">
        last_edit_time = #{record.last_edit_time,jdbcType=DATE},
      </if>
      <if test="record.is_deleted != null">
        is_deleted = #{record.is_deleted,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update drug
    set id = #{record.id,jdbcType=INTEGER},
      code = #{record.code,jdbcType=VARCHAR},
      drug_name = #{record.drug_name,jdbcType=VARCHAR},
      standard = #{record.standard,jdbcType=VARCHAR},
      unit = #{record.unit,jdbcType=VARCHAR},
      factory = #{record.factory,jdbcType=VARCHAR},
      dosage = #{record.dosage,jdbcType=INTEGER},
      type_id = #{record.type_id,jdbcType=INTEGER},
      unit_price = #{record.unit_price,jdbcType=DOUBLE},
      pinyin_mnemonic_code = #{record.pinyin_mnemonic_code,jdbcType=VARCHAR},
      create_time = #{record.create_time,jdbcType=DATE},
      last_edit_time = #{record.last_edit_time,jdbcType=DATE},
      is_deleted = #{record.is_deleted,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="entity.Drug">
    update drug
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="drug_name != null">
        drug_name = #{drug_name,jdbcType=VARCHAR},
      </if>
      <if test="standard != null">
        standard = #{standard,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="factory != null">
        factory = #{factory,jdbcType=VARCHAR},
      </if>
      <if test="dosage != null">
        dosage = #{dosage,jdbcType=INTEGER},
      </if>
      <if test="type_id != null">
        type_id = #{type_id,jdbcType=INTEGER},
      </if>
      <if test="unit_price != null">
        unit_price = #{unit_price,jdbcType=DOUBLE},
      </if>
      <if test="pinyin_mnemonic_code != null">
        pinyin_mnemonic_code = #{pinyin_mnemonic_code,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=DATE},
      </if>
      <if test="last_edit_time != null">
        last_edit_time = #{last_edit_time,jdbcType=DATE},
      </if>
      <if test="is_deleted != null">
        is_deleted = #{is_deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.Drug">
    update drug
    set code = #{code,jdbcType=VARCHAR},
      drug_name = #{drug_name,jdbcType=VARCHAR},
      standard = #{standard,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      factory = #{factory,jdbcType=VARCHAR},
      dosage = #{dosage,jdbcType=INTEGER},
      type_id = #{type_id,jdbcType=INTEGER},
      unit_price = #{unit_price,jdbcType=DOUBLE},
      pinyin_mnemonic_code = #{pinyin_mnemonic_code,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=DATE},
      last_edit_time = #{last_edit_time,jdbcType=DATE},
      is_deleted = #{is_deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>