<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.neu.dao.PrescriptionMedicineDtlMapper">
  <resultMap id="BaseResultMap" type="org.neu.entity.PrescriptionMedicineDtl">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="prescription_id" jdbcType="INTEGER" property="prescription_id" />
    <result column="medicine_id" jdbcType="INTEGER" property="medicine_id" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="dosage" jdbcType="VARCHAR" property="dosage" />
    <result column="frequency" jdbcType="VARCHAR" property="frequency" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="prescription_status" jdbcType="INTEGER" property="prescription_status" />
    <result column="is_deleted" jdbcType="BIT" property="is_deleted" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, prescription_id, medicine_id, method, dosage, frequency, quantity, prescription_status, 
    is_deleted
  </sql>
  <select id="selectByExample" parameterType="org.neu.entity.PrescriptionMedicineDtlExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from prescription_medicine_dtl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from prescription_medicine_dtl
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKeyWithLogicalDelete" parameterType="map" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    select 
    <include refid="Base_Column_List" />
    from prescription_medicine_dtl
    where id = #{id,jdbcType=INTEGER}
      and is_deleted = 
    <choose>
      <when test="andLogicalDeleted">
        '1'
      </when>
      <otherwise>
        '0'
      </otherwise>
    </choose>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from prescription_medicine_dtl
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.neu.entity.PrescriptionMedicineDtlExample">
    delete from prescription_medicine_dtl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.neu.entity.PrescriptionMedicineDtl">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into prescription_medicine_dtl (prescription_id, medicine_id, method, 
      dosage, frequency, quantity, 
      prescription_status, is_deleted)
    values (#{prescription_id,jdbcType=INTEGER}, #{medicine_id,jdbcType=INTEGER}, #{method,jdbcType=VARCHAR}, 
      #{dosage,jdbcType=VARCHAR}, #{frequency,jdbcType=VARCHAR}, #{quantity,jdbcType=INTEGER}, 
      #{prescription_status,jdbcType=INTEGER}, #{is_deleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="org.neu.entity.PrescriptionMedicineDtl">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into prescription_medicine_dtl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="prescription_id != null">
        prescription_id,
      </if>
      <if test="medicine_id != null">
        medicine_id,
      </if>
      <if test="method != null">
        method,
      </if>
      <if test="dosage != null">
        dosage,
      </if>
      <if test="frequency != null">
        frequency,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="prescription_status != null">
        prescription_status,
      </if>
      <if test="is_deleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="prescription_id != null">
        #{prescription_id,jdbcType=INTEGER},
      </if>
      <if test="medicine_id != null">
        #{medicine_id,jdbcType=INTEGER},
      </if>
      <if test="method != null">
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="dosage != null">
        #{dosage,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null">
        #{frequency,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="prescription_status != null">
        #{prescription_status,jdbcType=INTEGER},
      </if>
      <if test="is_deleted != null">
        #{is_deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.neu.entity.PrescriptionMedicineDtlExample" resultType="java.lang.Long">
    select count(*) from prescription_medicine_dtl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update prescription_medicine_dtl
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.prescription_id != null">
        prescription_id = #{record.prescription_id,jdbcType=INTEGER},
      </if>
      <if test="record.medicine_id != null">
        medicine_id = #{record.medicine_id,jdbcType=INTEGER},
      </if>
      <if test="record.method != null">
        method = #{record.method,jdbcType=VARCHAR},
      </if>
      <if test="record.dosage != null">
        dosage = #{record.dosage,jdbcType=VARCHAR},
      </if>
      <if test="record.frequency != null">
        frequency = #{record.frequency,jdbcType=VARCHAR},
      </if>
      <if test="record.quantity != null">
        quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.prescription_status != null">
        prescription_status = #{record.prescription_status,jdbcType=INTEGER},
      </if>
      <if test="record.is_deleted != null">
        is_deleted = #{record.is_deleted,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update prescription_medicine_dtl
    set id = #{record.id,jdbcType=INTEGER},
      prescription_id = #{record.prescription_id,jdbcType=INTEGER},
      medicine_id = #{record.medicine_id,jdbcType=INTEGER},
      method = #{record.method,jdbcType=VARCHAR},
      dosage = #{record.dosage,jdbcType=VARCHAR},
      frequency = #{record.frequency,jdbcType=VARCHAR},
      quantity = #{record.quantity,jdbcType=INTEGER},
      prescription_status = #{record.prescription_status,jdbcType=INTEGER},
      is_deleted = #{record.is_deleted,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.neu.entity.PrescriptionMedicineDtl">
    update prescription_medicine_dtl
    <set>
      <if test="prescription_id != null">
        prescription_id = #{prescription_id,jdbcType=INTEGER},
      </if>
      <if test="medicine_id != null">
        medicine_id = #{medicine_id,jdbcType=INTEGER},
      </if>
      <if test="method != null">
        method = #{method,jdbcType=VARCHAR},
      </if>
      <if test="dosage != null">
        dosage = #{dosage,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null">
        frequency = #{frequency,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="prescription_status != null">
        prescription_status = #{prescription_status,jdbcType=INTEGER},
      </if>
      <if test="is_deleted != null">
        is_deleted = #{is_deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.neu.entity.PrescriptionMedicineDtl">
    update prescription_medicine_dtl
    set prescription_id = #{prescription_id,jdbcType=INTEGER},
      medicine_id = #{medicine_id,jdbcType=INTEGER},
      method = #{method,jdbcType=VARCHAR},
      dosage = #{dosage,jdbcType=VARCHAR},
      frequency = #{frequency,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=INTEGER},
      prescription_status = #{prescription_status,jdbcType=INTEGER},
      is_deleted = #{is_deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="logicalDeleteByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    update prescription_medicine_dtl set is_deleted = 1
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="logicalDeleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    update prescription_medicine_dtl set is_deleted = 1
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="entity.PrescriptionMedicineDtl">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="prescription_id" jdbcType="INTEGER" property="prescription_id" />
    <result column="medicine_id" jdbcType="INTEGER" property="medicine_id" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="dosage" jdbcType="VARCHAR" property="dosage" />
    <result column="frequency" jdbcType="VARCHAR" property="frequency" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="prescription_status" jdbcType="INTEGER" property="prescription_status" />
    <result column="is_deleted" jdbcType="BIT" property="is_deleted" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, prescription_id, medicine_id, method, dosage, frequency, quantity, prescription_status, 
    is_deleted
  </sql>
  <select id="selectByExample" parameterType="entity.PrescriptionMedicineDtlExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from prescription_medicine_dtl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from prescription_medicine_dtl
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from prescription_medicine_dtl
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="entity.PrescriptionMedicineDtlExample">
    delete from prescription_medicine_dtl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="entity.PrescriptionMedicineDtl">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into prescription_medicine_dtl (prescription_id, medicine_id, method, 
      dosage, frequency, quantity, 
      prescription_status, is_deleted)
    values (#{prescription_id,jdbcType=INTEGER}, #{medicine_id,jdbcType=INTEGER}, #{method,jdbcType=VARCHAR}, 
      #{dosage,jdbcType=VARCHAR}, #{frequency,jdbcType=VARCHAR}, #{quantity,jdbcType=INTEGER}, 
      #{prescription_status,jdbcType=INTEGER}, #{is_deleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="entity.PrescriptionMedicineDtl">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into prescription_medicine_dtl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="prescription_id != null">
        prescription_id,
      </if>
      <if test="medicine_id != null">
        medicine_id,
      </if>
      <if test="method != null">
        method,
      </if>
      <if test="dosage != null">
        dosage,
      </if>
      <if test="frequency != null">
        frequency,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="prescription_status != null">
        prescription_status,
      </if>
      <if test="is_deleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="prescription_id != null">
        #{prescription_id,jdbcType=INTEGER},
      </if>
      <if test="medicine_id != null">
        #{medicine_id,jdbcType=INTEGER},
      </if>
      <if test="method != null">
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="dosage != null">
        #{dosage,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null">
        #{frequency,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="prescription_status != null">
        #{prescription_status,jdbcType=INTEGER},
      </if>
      <if test="is_deleted != null">
        #{is_deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="entity.PrescriptionMedicineDtlExample" resultType="java.lang.Long">
    select count(*) from prescription_medicine_dtl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update prescription_medicine_dtl
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.prescription_id != null">
        prescription_id = #{record.prescription_id,jdbcType=INTEGER},
      </if>
      <if test="record.medicine_id != null">
        medicine_id = #{record.medicine_id,jdbcType=INTEGER},
      </if>
      <if test="record.method != null">
        method = #{record.method,jdbcType=VARCHAR},
      </if>
      <if test="record.dosage != null">
        dosage = #{record.dosage,jdbcType=VARCHAR},
      </if>
      <if test="record.frequency != null">
        frequency = #{record.frequency,jdbcType=VARCHAR},
      </if>
      <if test="record.quantity != null">
        quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.prescription_status != null">
        prescription_status = #{record.prescription_status,jdbcType=INTEGER},
      </if>
      <if test="record.is_deleted != null">
        is_deleted = #{record.is_deleted,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update prescription_medicine_dtl
    set id = #{record.id,jdbcType=INTEGER},
      prescription_id = #{record.prescription_id,jdbcType=INTEGER},
      medicine_id = #{record.medicine_id,jdbcType=INTEGER},
      method = #{record.method,jdbcType=VARCHAR},
      dosage = #{record.dosage,jdbcType=VARCHAR},
      frequency = #{record.frequency,jdbcType=VARCHAR},
      quantity = #{record.quantity,jdbcType=INTEGER},
      prescription_status = #{record.prescription_status,jdbcType=INTEGER},
      is_deleted = #{record.is_deleted,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="entity.PrescriptionMedicineDtl">
    update prescription_medicine_dtl
    <set>
      <if test="prescription_id != null">
        prescription_id = #{prescription_id,jdbcType=INTEGER},
      </if>
      <if test="medicine_id != null">
        medicine_id = #{medicine_id,jdbcType=INTEGER},
      </if>
      <if test="method != null">
        method = #{method,jdbcType=VARCHAR},
      </if>
      <if test="dosage != null">
        dosage = #{dosage,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null">
        frequency = #{frequency,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="prescription_status != null">
        prescription_status = #{prescription_status,jdbcType=INTEGER},
      </if>
      <if test="is_deleted != null">
        is_deleted = #{is_deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.PrescriptionMedicineDtl">
    update prescription_medicine_dtl
    set prescription_id = #{prescription_id,jdbcType=INTEGER},
      medicine_id = #{medicine_id,jdbcType=INTEGER},
      method = #{method,jdbcType=VARCHAR},
      dosage = #{dosage,jdbcType=VARCHAR},
      frequency = #{frequency,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=INTEGER},
      prescription_status = #{prescription_status,jdbcType=INTEGER},
      is_deleted = #{is_deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>