<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.neu.his.dao.TemplateDtlHerbMapper">
  <resultMap id="BaseResultMap" type="org.neu.his.entity.TemplateDtlHerb">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="template_id" jdbcType="INTEGER" property="template_id" />
    <result column="herb_id" jdbcType="INTEGER" property="herb_id" />
    <result column="consumption" jdbcType="VARCHAR" property="consumption" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="is_deleted" jdbcType="BIT" property="is_deleted" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, template_id, herb_id, consumption, unit, description, is_deleted
  </sql>
  <select id="selectByExample" parameterType="org.neu.his.entity.TemplateDtlHerbExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from template_dtl_herb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from template_dtl_herb
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKeyWithLogicalDelete" parameterType="map" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    select 
    <include refid="Base_Column_List" />
    from template_dtl_herb
    where id = #{id,jdbcType=INTEGER}
      and is_deleted = 
    <choose>
      <when test="andLogicalDeleted">
        '1'
      </when>
      <otherwise>
        '0'
      </otherwise>
    </choose>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from template_dtl_herb
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.neu.his.entity.TemplateDtlHerbExample">
    delete from template_dtl_herb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.neu.his.entity.TemplateDtlHerb">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into template_dtl_herb (template_id, herb_id, consumption, 
      unit, description, is_deleted
      )
    values (#{template_id,jdbcType=INTEGER}, #{herb_id,jdbcType=INTEGER}, #{consumption,jdbcType=VARCHAR}, 
      #{unit,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{is_deleted,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.neu.his.entity.TemplateDtlHerb">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into template_dtl_herb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="template_id != null">
        template_id,
      </if>
      <if test="herb_id != null">
        herb_id,
      </if>
      <if test="consumption != null">
        consumption,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="is_deleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="template_id != null">
        #{template_id,jdbcType=INTEGER},
      </if>
      <if test="herb_id != null">
        #{herb_id,jdbcType=INTEGER},
      </if>
      <if test="consumption != null">
        #{consumption,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="is_deleted != null">
        #{is_deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.neu.his.entity.TemplateDtlHerbExample" resultType="java.lang.Long">
    select count(*) from template_dtl_herb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update template_dtl_herb
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.template_id != null">
        template_id = #{record.template_id,jdbcType=INTEGER},
      </if>
      <if test="record.herb_id != null">
        herb_id = #{record.herb_id,jdbcType=INTEGER},
      </if>
      <if test="record.consumption != null">
        consumption = #{record.consumption,jdbcType=VARCHAR},
      </if>
      <if test="record.unit != null">
        unit = #{record.unit,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.is_deleted != null">
        is_deleted = #{record.is_deleted,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update template_dtl_herb
    set id = #{record.id,jdbcType=INTEGER},
      template_id = #{record.template_id,jdbcType=INTEGER},
      herb_id = #{record.herb_id,jdbcType=INTEGER},
      consumption = #{record.consumption,jdbcType=VARCHAR},
      unit = #{record.unit,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      is_deleted = #{record.is_deleted,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.neu.his.entity.TemplateDtlHerb">
    update template_dtl_herb
    <set>
      <if test="template_id != null">
        template_id = #{template_id,jdbcType=INTEGER},
      </if>
      <if test="herb_id != null">
        herb_id = #{herb_id,jdbcType=INTEGER},
      </if>
      <if test="consumption != null">
        consumption = #{consumption,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="is_deleted != null">
        is_deleted = #{is_deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.neu.his.entity.TemplateDtlHerb">
    update template_dtl_herb
    set template_id = #{template_id,jdbcType=INTEGER},
      herb_id = #{herb_id,jdbcType=INTEGER},
      consumption = #{consumption,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      is_deleted = #{is_deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="logicalDeleteByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    update template_dtl_herb set is_deleted = 1
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="logicalDeleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    update template_dtl_herb set is_deleted = 1
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="entity.TemplateDtlHerb">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="template_id" jdbcType="INTEGER" property="template_id" />
    <result column="herb_id" jdbcType="INTEGER" property="herb_id" />
    <result column="consumption" jdbcType="VARCHAR" property="consumption" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="is_deleted" jdbcType="BIT" property="is_deleted" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, template_id, herb_id, consumption, unit, description, is_deleted
  </sql>
  <select id="selectByExample" parameterType="entity.TemplateDtlHerbExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from template_dtl_herb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from template_dtl_herb
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from template_dtl_herb
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="entity.TemplateDtlHerbExample">
    delete from template_dtl_herb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="entity.TemplateDtlHerb">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into template_dtl_herb (template_id, herb_id, consumption, 
      unit, description, is_deleted
      )
    values (#{template_id,jdbcType=INTEGER}, #{herb_id,jdbcType=INTEGER}, #{consumption,jdbcType=VARCHAR}, 
      #{unit,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{is_deleted,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="entity.TemplateDtlHerb">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into template_dtl_herb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="template_id != null">
        template_id,
      </if>
      <if test="herb_id != null">
        herb_id,
      </if>
      <if test="consumption != null">
        consumption,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="is_deleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="template_id != null">
        #{template_id,jdbcType=INTEGER},
      </if>
      <if test="herb_id != null">
        #{herb_id,jdbcType=INTEGER},
      </if>
      <if test="consumption != null">
        #{consumption,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="is_deleted != null">
        #{is_deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="entity.TemplateDtlHerbExample" resultType="java.lang.Long">
    select count(*) from template_dtl_herb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update template_dtl_herb
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.template_id != null">
        template_id = #{record.template_id,jdbcType=INTEGER},
      </if>
      <if test="record.herb_id != null">
        herb_id = #{record.herb_id,jdbcType=INTEGER},
      </if>
      <if test="record.consumption != null">
        consumption = #{record.consumption,jdbcType=VARCHAR},
      </if>
      <if test="record.unit != null">
        unit = #{record.unit,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.is_deleted != null">
        is_deleted = #{record.is_deleted,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update template_dtl_herb
    set id = #{record.id,jdbcType=INTEGER},
      template_id = #{record.template_id,jdbcType=INTEGER},
      herb_id = #{record.herb_id,jdbcType=INTEGER},
      consumption = #{record.consumption,jdbcType=VARCHAR},
      unit = #{record.unit,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      is_deleted = #{record.is_deleted,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="entity.TemplateDtlHerb">
    update template_dtl_herb
    <set>
      <if test="template_id != null">
        template_id = #{template_id,jdbcType=INTEGER},
      </if>
      <if test="herb_id != null">
        herb_id = #{herb_id,jdbcType=INTEGER},
      </if>
      <if test="consumption != null">
        consumption = #{consumption,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="is_deleted != null">
        is_deleted = #{is_deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.TemplateDtlHerb">
    update template_dtl_herb
    set template_id = #{template_id,jdbcType=INTEGER},
      herb_id = #{herb_id,jdbcType=INTEGER},
      consumption = #{consumption,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      is_deleted = #{is_deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>